Repository Neiland85/claritystructures-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

feat(wizard): add credential/evidence and emotional distress fields
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/components/Wizard.tsx
  apps/web/src/i18n/wizard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(tests): achieve 100% test pass rate - 630/630 tests passing
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/components/HtmlLangSync.tsx
  apps/web/src/components/LanguageSwitcher.tsx
  apps/web/src/i18n/useTranslation.ts
  apps/web/src/i18n/wizard.ts
  apps/web/tests/setup.ts
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(i18n): add translation layer to Wizard with ES/EN support
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/app/(i18n)/[lang]/layout.tsx
  apps/web/src/components/Wizard.tsx
  apps/web/src/constants/wizardOptions.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(wizard): i18n translation layer + high-impact signal fields (#115)
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/app/(i18n)/[lang]/layout.tsx
  apps/web/src/components/HtmlLangSync.tsx
  apps/web/src/components/LanguageSwitcher.tsx
  apps/web/src/components/Wizard.tsx
  apps/web/src/constants/wizardOptions.ts
  apps/web/src/i18n/useTranslation.ts
  apps/web/src/i18n/wizard.ts
  apps/web/tests/setup.ts
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: format TESTS_FIX_REPORT.md and merge main into branch
  TESTS_FIX_REPORT.md
Due: pnpm exec prettier --write

Feat/wizard context phase (#116)
  .env.production.local.example
  DEPLOYMENT.md
  DOCKER_VERSIONS.md
  Dockerfile.dev
  REVIEW_REPORT.md
  TESTS_FIX_REPORT.md
  apps/web/src/app/api/health/route.ts
  docker-compose.dev.yml
  docker-compose.yml
  scripts/deploy.sh
  scripts/health-check.sh
  scripts/setup-production.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(wizard): remove dead TRACE phase
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/components/Wizard.tsx
  apps/web/src/i18n/wizard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(wizard): add DETAILS phase with 5 decision-engine fields
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/components/Wizard.tsx
  apps/web/src/constants/wizardOptions.ts
  apps/web/src/i18n/wizard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: update CI Node.js version 20 → 22
  .github/workflows/ci.yml
Due: none

test: add Playwright E2E tests for wizard flow
  .github/workflows/ci.yml
  e2e/language-switching.spec.ts
  e2e/wizard-flow.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(wizard): UX polish — progress bar, loading state, reduced-motion
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/Wizard.tsx
  apps/web/src/i18n/wizard.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(wizard): comprehensive wizard improvements (#117)
  .github/workflows/ci.yml
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/__tests__/i18n/wizard-i18n.test.tsx
  apps/web/src/app/globals.css
  apps/web/src/components/Wizard.tsx
  apps/web/src/constants/wizardOptions.ts
  apps/web/src/i18n/wizard.ts
  e2e/language-switching.spec.ts
  e2e/wizard-flow.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  vitest.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(ci): use production server for E2E tests in CI
  .github/workflows/ci.yml
  apps/web/package.json
  package.json
  playwright.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(e2e): dismiss cookie consent banner before tests
  e2e/language-switching.spec.ts
  e2e/wizard-flow.spec.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(ci): use production server for E2E tests in CI (#118)
  .github/workflows/ci.yml
  apps/web/package.json
  e2e/language-switching.spec.ts
  e2e/wizard-flow.spec.ts
  package.json
  playwright.config.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

build(docker): v3 production image with i18n + all 658 tests passing
  DOCKER_VERSIONS.md
  Dockerfile
  docker-compose.yml
Due: pnpm exec prettier --write

docs: add persistence confirmation - all changes safely stored in Git + Docker
  PERSISTENCE_CONFIRMATION.md
Due: pnpm exec prettier --write

fix(docker): use node-based healthcheck instead of curl
  docker-compose.yml
Due: none

Fix/e2e ci webserver (#124)
  DOCKER_VERSIONS.md
  Dockerfile
  PERSISTENCE_CONFIRMATION.md
  docker-compose.yml
Due: pnpm exec prettier --write

feat(domain): add canonical wizard contract registry
  packages/domain/src/index.ts
  packages/domain/src/wizard-contracts/__tests__/canonical-wizard.contract.test.ts
  packages/domain/src/wizard-contracts/canonical-wizard.v1.ts
  packages/domain/src/wizard-contracts/event-contract.ts
  packages/domain/src/wizard-contracts/index.ts
  packages/domain/src/wizard-contracts/question-contract.ts
  packages/domain/src/wizard-contracts/snippet-contract.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add wizard contract registry helpers
  packages/domain/src/wizard-contracts/__tests__/contract-registry.test.ts
  packages/domain/src/wizard-contracts/contract-registry.ts
  packages/domain/src/wizard-contracts/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add wizard condition evaluator
  packages/domain/src/wizard-contracts/__tests__/condition-evaluator.test.ts
  packages/domain/src/wizard-contracts/condition-evaluator.ts
  packages/domain/src/wizard-contracts/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add wizard snippet resolver
  packages/domain/src/wizard-contracts/__tests__/snippet-resolver.test.ts
  packages/domain/src/wizard-contracts/index.ts
  packages/domain/src/wizard-contracts/snippet-resolver.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add wizard signal resolver
  packages/domain/src/wizard-contracts/__tests__/signal-resolver.test.ts
  packages/domain/src/wizard-contracts/index.ts
  packages/domain/src/wizard-contracts/signal-resolver.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add canonical wizard contract foundation (#126)
  packages/domain/src/index.ts
  packages/domain/src/wizard-contracts/__tests__/canonical-wizard.contract.test.ts
  packages/domain/src/wizard-contracts/__tests__/condition-evaluator.test.ts
  packages/domain/src/wizard-contracts/__tests__/contract-registry.test.ts
  packages/domain/src/wizard-contracts/__tests__/signal-resolver.test.ts
  packages/domain/src/wizard-contracts/__tests__/snippet-resolver.test.ts
  packages/domain/src/wizard-contracts/canonical-wizard.v1.ts
  packages/domain/src/wizard-contracts/condition-evaluator.ts
  packages/domain/src/wizard-contracts/contract-registry.ts
  packages/domain/src/wizard-contracts/event-contract.ts
  packages/domain/src/wizard-contracts/index.ts
  packages/domain/src/wizard-contracts/question-contract.ts
  packages/domain/src/wizard-contracts/signal-resolver.ts
  packages/domain/src/wizard-contracts/snippet-contract.ts
  packages/domain/src/wizard-contracts/snippet-resolver.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(tsconfig): remove deprecated baseUrl
  apps/web/tsconfig.json
  tsconfig.json
Due: pnpm exec prettier --write

feat(web): add wizard contract answer adapter
  apps/web/src/__tests__/lib/wizard-contracts/wizard-answer-adapter.test.ts
  apps/web/src/lib/wizard-contracts/wizard-answer-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(tsconfig): remove deprecated baseUrl (#127)
  apps/web/tsconfig.json
  tsconfig.json
Due: pnpm exec prettier --write

feat(web): add wizard contract answer adapter (#128)
  apps/web/src/__tests__/lib/wizard-contracts/wizard-answer-adapter.test.ts
  apps/web/src/lib/wizard-contracts/wizard-answer-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(web): add wizard contract context hook
  apps/web/src/__tests__/hooks/wizard/useWizardContractContext.test.ts
  apps/web/src/hooks/wizard/useWizardContractContext.ts
  packages/domain/src/wizard-contracts/__tests__/signal-resolver.test.ts
  packages/domain/src/wizard-contracts/signal-resolver.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(web): add wizard contract context hook (#129)
  apps/web/src/__tests__/hooks/wizard/useWizardContractContext.test.ts
  apps/web/src/hooks/wizard/useWizardContractContext.ts
  packages/domain/src/wizard-contracts/__tests__/signal-resolver.test.ts
  packages/domain/src/wizard-contracts/signal-resolver.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(security): patch dependency audit surface
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

chore(security): patch dependency audit surface (#130)
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

feat(web): wire wizard to contract context
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/components/Wizard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(web): wire wizard to contract context (#131)
  apps/web/src/__tests__/components/Wizard.test.tsx
  apps/web/src/components/Wizard.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(license): mark project as proprietary
  LICENSE
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/domain/package.json
  packages/infra-notifications/package.json
  packages/infra-persistence/package.json
  packages/types/package.json
Due: pnpm exec prettier --write

chore(license): mark project as proprietary (#132)
  LICENSE
  apps/web/package.json
  package.json
  packages/config/package.json
  packages/domain/package.json
  packages/infra-notifications/package.json
  packages/infra-persistence/package.json
  packages/types/package.json
Due: pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: **/*.{ts,tsx}
  pnpm exec prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{js,jsx,json,md})
