Repository Neiland85/claritystructures-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "**/*.{js,jsx,json,md}": ["pnpm exec prettier --write"]
}

chore(vscode): update deprecated typescript workspace settings
  claritystructures-webapp.code-workspace
Due: none

chore(vscode): update deprecated typescript workspace settings (#190)
  claritystructures-webapp.code-workspace
Due: none

chore(security): patch dependabot toolchain alerts
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

chore(security): patch dependabot toolchain alerts (#192)
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

docs(institutional): add post-baseline closure note
  docs/institutional/closure/2026-06-13_POST_BASELINE_CLOSURE.md
Due: pnpm exec prettier --write

docs(institutional): add post-baseline closure note (#193)
  docs/institutional/closure/2026-06-13_POST_BASELINE_CLOSURE.md
Due: pnpm exec prettier --write

docs(institutional): add institutional baseline package
  claritystructures-webapp.code-workspace
Due: none

chore(security): reinforce local env secret ignore rules
  .gitignore
Due: none

chore(security): reinforce secret hygiene ignore rules
  .gitignore
  prisma.config.temp.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(security): reinforce secret hygiene ignore rules (#195)
  .gitignore
  prisma.config.temp.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(security): record secret hygiene incident closure
  docs/security/2026-06-13_SECRET_HYGIENE_INCIDENT_CLOSURE.md
Due: pnpm exec prettier --write

docs(security): record secret hygiene incident closure (#196)
  docs/security/2026-06-13_SECRET_HYGIENE_INCIDENT_CLOSURE.md
Due: pnpm exec prettier --write

docs(privacy): add GDPR DPIA baseline package
  docs/privacy/01_GDPR_BASELINE.md
  docs/privacy/02_DPIA_PRELIMINARY_ASSESSMENT.md
  docs/privacy/03_ROPA_PROCESSING_ACTIVITIES.md
  docs/privacy/04_RETENTION_AND_DELETION_POLICY.md
  docs/privacy/05_DATA_SUBJECT_RIGHTS_PROCEDURE.md
  docs/privacy/06_LEGAL_BASIS_MATRIX.md
  docs/privacy/07_PRIVACY_RISK_REGISTER.md
  docs/privacy/README.md
  scripts/privacy-readiness.sh
Due: pnpm exec prettier --write

docs(privacy): add GDPR DPIA baseline package (#197)
  docs/privacy/01_GDPR_BASELINE.md
  docs/privacy/02_DPIA_PRELIMINARY_ASSESSMENT.md
  docs/privacy/03_ROPA_PROCESSING_ACTIVITIES.md
  docs/privacy/04_RETENTION_AND_DELETION_POLICY.md
  docs/privacy/05_DATA_SUBJECT_RIGHTS_PROCEDURE.md
  docs/privacy/06_LEGAL_BASIS_MATRIX.md
  docs/privacy/07_PRIVACY_RISK_REGISTER.md
  docs/privacy/README.md
  scripts/privacy-readiness.sh
Due: pnpm exec prettier --write

docs(institutional): add operational naming bridge
  docs/institutional/10_EXTERNAL_REVIEW_PACKAGE.md
  docs/institutional/11_OPERATIONAL_NAMING_BRIDGE.md
Due: pnpm exec prettier --write

docs(product): define governed casefile control room
  docs/product/CONTROL_ROOM_SCREEN_SPEC.md
  docs/product/CONTROL_ROOM_V0_3_PLAN.md
  docs/product/GOVERNED_CASEFILE_DOMAIN_SKETCH.md
  scripts/control-room-readiness.sh
Due: pnpm exec prettier --write

docs(product): define governed casefile control room (#198)
  docs/product/CONTROL_ROOM_SCREEN_SPEC.md
  docs/product/CONTROL_ROOM_V0_3_PLAN.md
  docs/product/GOVERNED_CASEFILE_DOMAIN_SKETCH.md
  scripts/control-room-readiness.sh
Due: pnpm exec prettier --write

feat(control-room): add governed casefile demo UI
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add governed casefile demo UI (#199)
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(control-room): split demo UI into components
  apps/web/src/app/control/cases/demo/_components/actions-panel.tsx
  apps/web/src/app/control/cases/demo/_components/assurance-trail.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-demo-data.ts
  apps/web/src/app/control/cases/demo/_components/control-room-header.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-style.ts
  apps/web/src/app/control/cases/demo/_components/governance-decision-card.tsx
  apps/web/src/app/control/cases/demo/_components/privacy-boundary-card.tsx
  apps/web/src/app/control/cases/demo/_components/readiness-radar.tsx
  apps/web/src/app/control/cases/demo/_components/review-notes-panel.tsx
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(control-room): split demo UI into components (#200)
  apps/web/src/app/control/cases/demo/_components/actions-panel.tsx
  apps/web/src/app/control/cases/demo/_components/assurance-trail.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-demo-data.ts
  apps/web/src/app/control/cases/demo/_components/control-room-header.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-style.ts
  apps/web/src/app/control/cases/demo/_components/governance-decision-card.tsx
  apps/web/src/app/control/cases/demo/_components/privacy-boundary-card.tsx
  apps/web/src/app/control/cases/demo/_components/readiness-radar.tsx
  apps/web/src/app/control/cases/demo/_components/review-notes-panel.tsx
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): introduce local view model
  apps/web/src/app/control/cases/demo/_components/actions-panel.tsx
  apps/web/src/app/control/cases/demo/_components/assurance-trail.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-demo-data.ts
  apps/web/src/app/control/cases/demo/_components/control-room-header.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-view-model.ts
  apps/web/src/app/control/cases/demo/_components/governance-decision-card.tsx
  apps/web/src/app/control/cases/demo/_components/privacy-boundary-card.tsx
  apps/web/src/app/control/cases/demo/_components/readiness-radar.tsx
  apps/web/src/app/control/cases/demo/_components/review-notes-panel.tsx
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): introduce local view model (#201)
  apps/web/src/app/control/cases/demo/_components/actions-panel.tsx
  apps/web/src/app/control/cases/demo/_components/assurance-trail.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-demo-data.ts
  apps/web/src/app/control/cases/demo/_components/control-room-header.tsx
  apps/web/src/app/control/cases/demo/_components/control-room-view-model.ts
  apps/web/src/app/control/cases/demo/_components/governance-decision-card.tsx
  apps/web/src/app/control/cases/demo/_components/privacy-boundary-card.tsx
  apps/web/src/app/control/cases/demo/_components/readiness-radar.tsx
  apps/web/src/app/control/cases/demo/_components/review-notes-panel.tsx
  apps/web/src/app/control/cases/demo/page.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(control-room): move demo view model to feature boundary
  apps/web/src/app/control/cases/demo/page.tsx
  apps/web/src/features/control-room/actions-panel.tsx
  apps/web/src/features/control-room/assurance-trail.tsx
  apps/web/src/features/control-room/control-room-demo-data.ts
  apps/web/src/features/control-room/control-room-header.tsx
  apps/web/src/features/control-room/control-room-style.ts
  apps/web/src/features/control-room/control-room-view-model.ts
  apps/web/src/features/control-room/governance-decision-card.tsx
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/privacy-boundary-card.tsx
  apps/web/src/features/control-room/readiness-radar.tsx
  apps/web/src/features/control-room/review-notes-panel.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

refactor(control-room): move demo view model to feature boundary (#202)
  apps/web/src/app/control/cases/demo/page.tsx
  apps/web/src/features/control-room/actions-panel.tsx
  apps/web/src/features/control-room/assurance-trail.tsx
  apps/web/src/features/control-room/control-room-demo-data.ts
  apps/web/src/features/control-room/control-room-header.tsx
  apps/web/src/features/control-room/control-room-style.ts
  apps/web/src/features/control-room/control-room-view-model.ts
  apps/web/src/features/control-room/governance-decision-card.tsx
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/privacy-boundary-card.tsx
  apps/web/src/features/control-room/readiness-radar.tsx
  apps/web/src/features/control-room/review-notes-panel.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add isolated view model mapper
  apps/web/src/features/control-room/__tests__/to-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-demo-data.ts
  apps/web/src/features/control-room/control-room-source.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/to-control-room-view-model.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add isolated view model mapper (#203)
  apps/web/src/features/control-room/__tests__/to-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-demo-data.ts
  apps/web/src/features/control-room/control-room-source.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/to-control-room-view-model.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add governed casefile types
  packages/domain/src/__tests__/governed-casefile.test.ts
  packages/domain/src/governed-casefile/fixtures.ts
  packages/domain/src/governed-casefile/index.ts
  packages/domain/src/governed-casefile/types.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add governed casefile types (#204)
  packages/domain/src/__tests__/governed-casefile.test.ts
  packages/domain/src/governed-casefile/fixtures.ts
  packages/domain/src/governed-casefile/index.ts
  packages/domain/src/governed-casefile/types.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): map governed casefile to source
  apps/web/src/features/control-room/__tests__/to-control-room-source.test.ts
  apps/web/src/features/control-room/to-control-room-source.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): map governed casefile to source (#205)
  apps/web/src/features/control-room/__tests__/to-control-room-source.test.ts
  apps/web/src/features/control-room/to-control-room-source.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): render demo from governed casefile fixture
  apps/web/src/features/control-room/__tests__/control-room-demo-data.test.ts
  apps/web/src/features/control-room/__tests__/to-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-demo-data.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): render demo from governed casefile fixture (#206)
  apps/web/src/features/control-room/__tests__/control-room-demo-data.test.ts
  apps/web/src/features/control-room/__tests__/to-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-demo-data.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(control-room): add chain readiness guard
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): add chain readiness guard (#207)
  scripts/control-room-chain-readiness.sh
Due: none

feat(control-room): add dynamic case route
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-dynamic-route.test.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add dynamic case route (#208)
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-dynamic-route.test.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add view model resolver
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add view model resolver (#209)
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): plan real source adapter
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write
