Repository Neiland85/claritystructures-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): make source adapter selection observable (#231)
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  docs/control-room/ADAPTER_INTEGRATION_GATE.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): accept governed source options in view model resolver
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(control-room): import governed source option types
  apps/web/src/features/control-room/get-control-room-view-model.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): accept governed source options in view model resolver (#232)
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(control-room): import view model registry option type
  apps/web/src/features/control-room/get-control-room-view-model.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(control-room): import view model registry option type (#233)
  apps/web/src/features/control-room/get-control-room-view-model.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): prepare official use demo runbook
  docs/closure/2026-06-16_CONTROL_ROOM_OFFICIAL_USE_DEMO_CLOSURE.md
  docs/demo/CONTROL_ROOM_DEMO_RUNBOOK.md
  docs/operations/CONTROL_ROOM_OFFICIAL_USE.md
Due: pnpm exec prettier --write

docs(control-room): prepare official use demo runbook (#234)
  docs/closure/2026-06-16_CONTROL_ROOM_OFFICIAL_USE_DEMO_CLOSURE.md
  docs/demo/CONTROL_ROOM_DEMO_RUNBOOK.md
  docs/operations/CONTROL_ROOM_OFFICIAL_USE.md
Due: pnpm exec prettier --write

chore(security): resolve high dependency advisories
  apps/web/package.json.bak
  package.json
  packages/infra-notifications/package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix(privacy): enforce consent and suppress intake data
  apps/web/src/__tests__/api/user-data-route.test.ts
  apps/web/src/__tests__/application/use-cases/delete-user-data.usecase.test.ts
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/__tests__/infra/prisma-consent-repository.test.ts
  apps/web/src/__tests__/infra/prisma-intake-repository.test.ts
  apps/web/src/app/api/user/data/route.ts
  apps/web/src/application/di-container.ts
  apps/web/src/application/use-cases/delete-user-data.usecase.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
  packages/infra-persistence/prisma/migrations/20260623062000_privacy_suppression_and_consent_v1/migration.sql
  packages/infra-persistence/prisma/schema.prisma
  packages/infra-persistence/src/repositories/consent.repository.ts
  packages/infra-persistence/src/repositories/intake.repository.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs: define legal and forensic operating boundary
  README.md
  docs/legal-forensic-operating-boundary.md
Due: pnpm exec prettier --write

docs: define legal and forensic operating boundary (#237)
  README.md
  docs/legal-forensic-operating-boundary.md
Due: pnpm exec prettier --write

feat(domain): add operational evidence ledger
  README.md
  docs/operational-evidence-ledger.md
  packages/domain/src/__tests__/operational-evidence-ledger.test.ts
  packages/domain/src/index.ts
  packages/domain/src/operational-evidence-ledger.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add operational evidence ledger (#238)
  README.md
  docs/operational-evidence-ledger.md
  packages/domain/src/__tests__/operational-evidence-ledger.test.ts
  packages/domain/src/index.ts
  packages/domain/src/operational-evidence-ledger.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add evidence bundle export
  README.md
  docs/evidence-bundle-export.md
  packages/domain/src/__tests__/evidence-bundle.test.ts
  packages/domain/src/evidence-bundle.ts
  packages/domain/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(domain): add evidence bundle export (#239)
  README.md
  docs/evidence-bundle-export.md
  packages/domain/src/__tests__/evidence-bundle.test.ts
  packages/domain/src/evidence-bundle.ts
  packages/domain/src/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(ci): align node version with nvmrc
  .github/workflows/ci.yml
Due: none

chore(ci): read node version from .nvmrc in workflow
  .github/workflows/ci.yml
Due: none

chore(ci): read node version from .nvmrc in workflow (#241)
  .github/workflows/ci.yml
Due: none

chore(security): patch vulnerable transitive dependencies
  pnpm-lock.yaml
Due: none

chore(security): patch vulnerable transitive dependencies (#242)
  pnpm-lock.yaml
Due: none

chore(ci): align node version with nvmrc (#240)
  .github/workflows/ci.yml
Due: none

chore(repo): align docs, env contracts and release gates
  .env.example
  .github/workflows/ci.yml
  ARCHITECTURE.md
  README.md
  apps/web/src/__tests__/api/derivation-route.test.ts
  apps/web/src/app/api/derivation/route.ts
  docs/adr/0001-scope.md
  docs/adr/0002-architecture-hexagonal.md
  docs/adr/0003-decision-model.md
  docs/adr/0004-policy-versioning.md
  docs/security/dependency-health-matrix.md
  packages/config/src/env.ts
  repo_tree.txt
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(repo): align docs, env contracts and release gates (#243)
  .env.example
  .github/workflows/ci.yml
  ARCHITECTURE.md
  README.md
  apps/web/src/__tests__/api/derivation-route.test.ts
  apps/web/src/app/api/derivation/route.ts
  docs/adr/0001-scope.md
  docs/adr/0002-architecture-hexagonal.md
  docs/adr/0003-decision-model.md
  docs/adr/0004-policy-versioning.md
  docs/security/dependency-health-matrix.md
  packages/config/src/env.ts
  repo_tree.txt
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(repo-hardening): align production env example with Sentry contract
  .env.production.local.example
Due: none

fix(repo-hardening): align production env example with Sentry contract (#245)
  .env.production.local.example
Due: none

chore(security): update vulnerable transitive overrides
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

chore(security): update vulnerable transitive overrides (#246)
  package.json
  pnpm-lock.yaml
Due: pnpm exec prettier --write

fix(security): close auth, XSS and notify review holes
  apps/web/instrumentation.ts
  apps/web/src/__tests__/api/contact-route.test.ts
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/__tests__/lib/api-guard.test.ts
  apps/web/src/__tests__/lib/auth/no-static-admin-token.test.ts
  apps/web/src/__tests__/lib/auth/verify-bearer.test.ts
  apps/web/src/__tests__/lib/rate-limit.test.ts
  apps/web/src/__tests__/lib/rate-limit/upstash.test.ts
  apps/web/src/app/api/contact/route.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
  apps/web/src/lib/api-guard.ts
  apps/web/src/lib/auth/verify-bearer.ts
  apps/web/src/lib/rate-limit/memory.ts
  apps/web/src/lib/rate-limit/upstash.ts
  packages/infra-notifications/src/__tests__/notifier.test.ts
  packages/infra-notifications/src/mail/notifier.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Create 0001-fix-security-close-auth-xss-notify.patch
  0001-fix-security-close-auth-xss-notify.patch
Due: none

fix: drop ICANN claim, harden rate-limit id, complete idempotency on notify failure
  apps/web/src/__tests__/lib/rate-limit.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
  apps/web/src/lib/api-guard.ts
  apps/web/src/lib/rate-limit/memory.ts
  apps/web/src/lib/rate-limit/upstash.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

Path conditions:
  pnpm exec eslint --fix: any of: **/*.{ts,tsx}
  pnpm exec prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{js,jsx,json,md})
