Repository Neiland85/claritystructures-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): plan real source adapter (#211)
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write

docs(control-room): fix real source adapter plan formatting
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write

docs(control-room): fix real source adapter plan formatting (#212)
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write

docs(control-room): repair real source adapter markdown structure
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write

docs(control-room): repair real source adapter markdown structure (#213)
  docs/control-room/REAL_SOURCE_ADAPTER_PLAN.md
Due: pnpm exec prettier --write

feat(control-room): add in-memory case repository
  apps/web/src/features/control-room/__tests__/control-room-case-repository.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-case-repository.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add in-memory case repository (#214)
  apps/web/src/features/control-room/__tests__/control-room-case-repository.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-case-repository.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): render resolver status band
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-resolution-status.test.ts
  apps/web/src/features/control-room/control-room-resolution-status.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/resolution-status-banner.tsx
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): render resolver status band (#215)
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-resolution-status.test.ts
  apps/web/src/features/control-room/control-room-resolution-status.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/resolution-status-banner.tsx
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add demo resolution states
  apps/web/src/features/control-room/__tests__/control-room-case-repository.test.ts
  apps/web/src/features/control-room/control-room-case-repository.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add demo resolution states (#216)
  apps/web/src/features/control-room/__tests__/control-room-case-repository.test.ts
  apps/web/src/features/control-room/control-room-case-repository.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add demo state navigation
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/demo-state-navigation.test.tsx
  apps/web/src/features/control-room/demo-state-navigation.tsx
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add demo state navigation (#217)
  apps/web/src/app/control/cases/[caseId]/page.tsx
  apps/web/src/features/control-room/__tests__/demo-state-navigation.test.tsx
  apps/web/src/features/control-room/demo-state-navigation.tsx
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): redirect legacy demo route
  apps/web/src/app/control/cases/demo/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-demo-route.test.ts
  apps/web/src/features/control-room/control-room-demo-route.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): redirect legacy demo route (#218)
  apps/web/src/app/control/cases/demo/page.tsx
  apps/web/src/features/control-room/__tests__/control-room-demo-route.test.ts
  apps/web/src/features/control-room/control-room-demo-route.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): add demo contract
  docs/control-room/DEMO_CONTRACT.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec prettier --write

docs(control-room): add demo contract (#219)
  docs/control-room/DEMO_CONTRACT.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec prettier --write

feat(control-room): add real source adapter contract
  apps/web/src/features/control-room/__tests__/control-room-source-adapter.test.ts
  apps/web/src/features/control-room/control-room-source-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add real source adapter contract (#220)
  apps/web/src/features/control-room/__tests__/control-room-source-adapter.test.ts
  apps/web/src/features/control-room/control-room-source-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): export source adapter contract
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): export source adapter contract (#221)
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/index.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(control-room): guard source adapter contract
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): guard source adapter contract (#222)
  scripts/control-room-chain-readiness.sh
Due: none

docs(control-room): add adapter integration gate
  docs/control-room/ADAPTER_INTEGRATION_GATE.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec prettier --write

docs(control-room): add adapter integration gate (#223)
  docs/control-room/ADAPTER_INTEGRATION_GATE.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec prettier --write

feat(control-room): add file source adapter
  apps/web/src/features/control-room/__fixtures__/file-source-adapter/EV-2026-DEMO.json
  apps/web/src/features/control-room/__tests__/control-room-file-source-adapter.test.ts
  apps/web/src/features/control-room/file-source-adapter/control-room-file-source-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): add file source adapter (#224)
  apps/web/src/features/control-room/__fixtures__/file-source-adapter/EV-2026-DEMO.json
  apps/web/src/features/control-room/__tests__/control-room-file-source-adapter.test.ts
  apps/web/src/features/control-room/file-source-adapter/control-room-file-source-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(control-room): guard file source adapter
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): guard file source adapter (#225)
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): run file source adapter test in readiness
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): run file source adapter test in readiness (#226)
  scripts/control-room-chain-readiness.sh
Due: none

feat(control-room): route resolver through source adapter registry
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-source-adapter-registry.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/resolution-status-banner.tsx
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore: add vscode extension ids to spellcheck dictionary
  cspell.json
Due: pnpm exec prettier --write

feat(control-room): route resolver through source adapter registry (#228)
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  apps/web/src/features/control-room/__tests__/get-control-room-view-model.test.ts
  apps/web/src/features/control-room/control-room-source-adapter-registry.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  apps/web/src/features/control-room/resolution-status-banner.tsx
  cspell.json
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(control-room): align readiness guard with source adapter registry seam
  scripts/control-room-chain-readiness.sh
Due: none

chore(control-room): align readiness guard with source adapter registry seam (#229)
  scripts/control-room-chain-readiness.sh
Due: none

feat(control-room): select source adapter through governed registry
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  apps/web/src/features/control-room/control-room-source-adapter-registry.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(control-room): select source adapter through governed registry (#230)
  apps/web/src/features/control-room/__tests__/control-room-public-api.test.ts
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  apps/web/src/features/control-room/control-room-source-adapter-registry.ts
  apps/web/src/features/control-room/get-control-room-view-model.ts
  apps/web/src/features/control-room/index.ts
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(control-room): make source adapter selection observable
  apps/web/src/features/control-room/__tests__/control-room-source-adapter-registry.test.ts
  docs/control-room/ADAPTER_INTEGRATION_GATE.md
  scripts/control-room-chain-readiness.sh
Due: pnpm exec eslint --fix, pnpm exec prettier --write

chore(control-room): harden observable adapter readiness guard
  scripts/control-room-chain-readiness.sh
Due: none

Path conditions:
  pnpm exec eslint --fix: any of: **/*.{ts,tsx}
  pnpm exec prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{js,jsx,json,md})
