Repository Neiland85/claritystructures-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec eslint --fix, pnpm exec prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": ["pnpm exec eslint --fix", "pnpm exec prettier --write"],
  "**/*.{js,jsx,json,md}": ["pnpm exec prettier --write"]
}

fix(contact): scope rate limit key
  apps/web/src/__tests__/api/contact-route.test.ts
  apps/web/src/app/api/contact/route.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(contact): scope rate limit key (#173)
  apps/web/src/__tests__/api/contact-route.test.ts
  apps/web/src/app/api/contact/route.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(copy): clarify priority request confirmation
  apps/web/src/__tests__/components/ContactConfirmation.test.tsx
  apps/web/src/components/ContactConfirmation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

test(copy): align disclaimer expectation
  apps/web/src/__tests__/components/ContactConfirmation.test.tsx
  apps/web/src/components/ContactConfirmation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(copy): clarify priority request confirmation (#174)
  apps/web/src/__tests__/components/ContactConfirmation.test.tsx
  apps/web/src/components/ContactConfirmation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(ui): polish contact confirmation card
  apps/web/src/components/ContactConfirmation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

fix(ui): polish contact confirmation card (#175)
  apps/web/src/components/ContactConfirmation.tsx
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(executive): add clarity operating presentation pack
  docs/executive-operating-pack/00_LEER_PRIMERO.md
  docs/executive-operating-pack/00_RESUMEN_EJECUTIVO/01_resumen_para_alta_direccion.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/01_que_se_vende_realmente.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/02_como_darle_valor_al_codigo.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/03_modelos_de_monetizacion.md
  docs/executive-operating-pack/02_COMO_ARRANCARLO/01_plan_30_60_90.md
  docs/executive-operating-pack/02_COMO_ARRANCARLO/02_invertir_en_trafico_sin_quemar_dinero.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/01_para_ceo.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/02_para_cto.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/03_para_inversor_o_comprador.md
  docs/executive-operating-pack/04_PRESENTACION_MIGUEL_BENZAL/01_brief_para_miguel_benzal.md
  docs/executive-operating-pack/04_PRESENTACION_MIGUEL_BENZAL/02_guion_reunion_10_minutos.md
  docs/executive-operating-pack/05_EVIDENCIAS_TECNICAS_SIMPLIFICADAS/01_estado_tecnico_simplificado.md
  docs/executive-operating-pack/05_EVIDENCIAS_TECNICAS_SIMPLIFICADAS/02_que_significa_el_zip.md
  docs/executive-operating-pack/06_RIESGOS_Y_LIMITES/01_limites_que_no_deben_cruzarse.md
  docs/executive-operating-pack/06_RIESGOS_Y_LIMITES/02_decision_de_no_tocar_codigo.md
  docs/executive-operating-pack/99_ARTEFACTOS/README.md
Due: pnpm exec prettier --write

docs(executive): add clarity operating presentation pack (#176)
  docs/executive-operating-pack/00_LEER_PRIMERO.md
  docs/executive-operating-pack/00_RESUMEN_EJECUTIVO/01_resumen_para_alta_direccion.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/01_que_se_vende_realmente.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/02_como_darle_valor_al_codigo.md
  docs/executive-operating-pack/01_VALOR_NEGOCIO/03_modelos_de_monetizacion.md
  docs/executive-operating-pack/02_COMO_ARRANCARLO/01_plan_30_60_90.md
  docs/executive-operating-pack/02_COMO_ARRANCARLO/02_invertir_en_trafico_sin_quemar_dinero.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/01_para_ceo.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/02_para_cto.md
  docs/executive-operating-pack/03_PARA_CEO_CTO_INVERSOR/03_para_inversor_o_comprador.md
  docs/executive-operating-pack/04_PRESENTACION_MIGUEL_BENZAL/01_brief_para_miguel_benzal.md
  docs/executive-operating-pack/04_PRESENTACION_MIGUEL_BENZAL/02_guion_reunion_10_minutos.md
  docs/executive-operating-pack/05_EVIDENCIAS_TECNICAS_SIMPLIFICADAS/01_estado_tecnico_simplificado.md
  docs/executive-operating-pack/05_EVIDENCIAS_TECNICAS_SIMPLIFICADAS/02_que_significa_el_zip.md
  docs/executive-operating-pack/06_RIESGOS_Y_LIMITES/01_limites_que_no_deben_cruzarse.md
  docs/executive-operating-pack/06_RIESGOS_Y_LIMITES/02_decision_de_no_tocar_codigo.md
  docs/executive-operating-pack/99_ARTEFACTOS/README.md
Due: pnpm exec prettier --write

chore(workspace): stabilize VS Code baseline
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
Due: pnpm exec prettier --write

docs(governance): add wizard to guardian contract
  docs/contracts/WIZARD_TO_GUARDIAN_CONTRACT_v0.md
Due: pnpm exec prettier --write

feat(governance): add wizard result envelope adapter
  apps/web/src/__tests__/lib/governance/wizard-result-to-governance-envelope.test.ts
  apps/web/src/lib/governance/wizard-result-to-governance-envelope.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add wizard result envelope adapter (#178)
  apps/web/src/__tests__/lib/governance/wizard-result-to-governance-envelope.test.ts
  apps/web/src/lib/governance/wizard-result-to-governance-envelope.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): wire envelope into intake audit
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): wire envelope into intake audit (#179)
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(governance): add intake audit metadata contract
  docs/contracts/INTAKE_GOVERNANCE_AUDIT_METADATA_v0.md
Due: pnpm exec prettier --write

docs(governance): add guardian input boundary contract
  docs/contracts/GUARDIAN_INPUT_BOUNDARY_v0.md
Due: pnpm exec prettier --write

docs(governance): add guardian input boundary contract (#181)
  docs/contracts/GUARDIAN_INPUT_BOUNDARY_v0.md
Due: pnpm exec prettier --write

docs(governance): add intake audit metadata contract (#180)
  docs/contracts/INTAKE_GOVERNANCE_AUDIT_METADATA_v0.md
Due: pnpm exec prettier --write

docs(governance): add sprint checkpoint
  docs/contracts/GOVERNANCE_SPRINT_CHECKPOINT_2026-06-12.md
Due: pnpm exec prettier --write

docs(governance): add sprint checkpoint (#182)
  docs/contracts/GOVERNANCE_SPRINT_CHECKPOINT_2026-06-12.md
Due: pnpm exec prettier --write

docs(governance): add guardian decision contract
  docs/contracts/GUARDIAN_DECISION_CONTRACT_v0.md
Due: pnpm exec prettier --write

docs(governance): add guardian decision contract (#183)
  docs/contracts/GUARDIAN_DECISION_CONTRACT_v0.md
Due: pnpm exec prettier --write

feat(governance): add guardian decision types
  apps/web/src/__tests__/lib/governance/guardian-decision.test.ts
  apps/web/src/lib/governance/guardian-decision.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add guardian decision types (#184)
  apps/web/src/__tests__/lib/governance/guardian-decision.test.ts
  apps/web/src/lib/governance/guardian-decision.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add guardian decision builder
  apps/web/src/__tests__/lib/governance/guardian-decision-builder.test.ts
  apps/web/src/lib/governance/guardian-decision-builder.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add guardian decision builder (#185)
  apps/web/src/__tests__/lib/governance/guardian-decision-builder.test.ts
  apps/web/src/lib/governance/guardian-decision-builder.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add guardian input adapter
  apps/web/src/__tests__/lib/governance/guardian-input-adapter.test.ts
  apps/web/src/lib/governance/guardian-input-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): add guardian input adapter (#186)
  apps/web/src/__tests__/lib/governance/guardian-input-adapter.test.ts
  apps/web/src/lib/governance/guardian-input-adapter.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): audit guardian decision summary
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(governance): audit guardian decision summary (#187)
  apps/web/src/__tests__/application/use-cases/submit-intake.usecase.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(idempotency): add defensive convergence layer
  apps/web/src/app/api/contact/route.ts
  apps/web/src/application/di-container.ts
  apps/web/src/application/use-cases/generate-transfer-packet.usecase.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
  package.json
  packages/domain/src/__tests__/idempotency.test.ts
  packages/domain/src/__tests__/transfer-packet.test.ts
  packages/domain/src/idempotency.ts
  packages/domain/src/index.ts
  packages/domain/src/ports.ts
  packages/domain/src/transfer-packet.ts
  packages/domain/tsconfig.json
  packages/infra-persistence/prisma/migrations/20260612162750_defensive_idempotency_layer/migration.sql
  packages/infra-persistence/prisma/schema.prisma
  packages/infra-persistence/src/index.ts
  packages/infra-persistence/src/repositories/idempotency.repository.ts
  packages/infra-persistence/src/repositories/legal-derivation.repository.ts
  packages/infra-persistence/src/repositories/outbox.repository.ts
  packages/infra-persistence/src/repositories/sla.repository.ts
  packages/infra-persistence/src/repositories/transfer-log.repository.ts
  scripts/guard-prisma-datasource.mjs
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(idempotency): add defensive convergence layer
  .audit/idempotency-layer/99-final-green-run.txt
Due: none

test(idempotency): align full suite with convergence layer
  apps/web/src/__tests__/application/di-container.test.ts
  apps/web/src/__tests__/infra/prisma-legal-derivation-repository.test.ts
  apps/web/src/__tests__/infra/prisma-transfer-log-repository.test.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
Due: pnpm exec eslint --fix, pnpm exec prettier --write

feat(idempotency): defensive convergence layer
  .audit/idempotency-layer/99-final-green-run.txt
  apps/web/src/__tests__/application/di-container.test.ts
  apps/web/src/__tests__/infra/prisma-legal-derivation-repository.test.ts
  apps/web/src/__tests__/infra/prisma-transfer-log-repository.test.ts
  apps/web/src/app/api/contact/route.ts
  apps/web/src/application/di-container.ts
  apps/web/src/application/use-cases/generate-transfer-packet.usecase.ts
  apps/web/src/application/use-cases/submit-intake.usecase.ts
  package.json
  packages/domain/src/__tests__/idempotency.test.ts
  packages/domain/src/__tests__/transfer-packet.test.ts
  packages/domain/src/idempotency.ts
  packages/domain/src/index.ts
  packages/domain/src/ports.ts
  packages/domain/src/transfer-packet.ts
  packages/domain/tsconfig.json
  packages/infra-persistence/prisma/migrations/20260612162750_defensive_idempotency_layer/migration.sql
  packages/infra-persistence/prisma/schema.prisma
  packages/infra-persistence/src/index.ts
  packages/infra-persistence/src/repositories/idempotency.repository.ts
  packages/infra-persistence/src/repositories/legal-derivation.repository.ts
  packages/infra-persistence/src/repositories/outbox.repository.ts
  packages/infra-persistence/src/repositories/sla.repository.ts
  packages/infra-persistence/src/repositories/transfer-log.repository.ts
  scripts/guard-prisma-datasource.mjs
Due: pnpm exec eslint --fix, pnpm exec prettier --write

docs(institutional): add governance baseline and vscode workspace
  .audit/institutional/institutional-readiness-20260612T215240Z.txt
  .vscode/extensions.json
  claritystructures-webapp.code-workspace
  docs/institutional/01_ARCHITECTURE_OVERVIEW.md
  docs/institutional/02_GOVERNANCE_MODEL.md
  docs/institutional/03_EVIDENCE_LIFECYCLE.md
  docs/institutional/04_IDEMPOTENCY_AND_CONVERGENCE.md
  docs/institutional/05_SECURITY_AND_PRIVACY_BOUNDARIES.md
  docs/institutional/06_OPERATIONAL_RUNBOOK.md
  docs/institutional/07_AUDITABILITY_MATRIX.md
  docs/institutional/08_RISK_REGISTER.md
  docs/institutional/09_INCIDENT_RESPONSE.md
  docs/institutional/10_EXTERNAL_REVIEW_PACKAGE.md
  docs/institutional/README.md
  scripts/institutional-readiness.sh
Due: pnpm exec prettier --write

docs(institutional): add governance baseline and vscode workspace (#189)
  .audit/institutional/institutional-readiness-20260612T215240Z.txt
  .vscode/extensions.json
  claritystructures-webapp.code-workspace
  docs/institutional/01_ARCHITECTURE_OVERVIEW.md
  docs/institutional/02_GOVERNANCE_MODEL.md
  docs/institutional/03_EVIDENCE_LIFECYCLE.md
  docs/institutional/04_IDEMPOTENCY_AND_CONVERGENCE.md
  docs/institutional/05_SECURITY_AND_PRIVACY_BOUNDARIES.md
  docs/institutional/06_OPERATIONAL_RUNBOOK.md
  docs/institutional/07_AUDITABILITY_MATRIX.md
  docs/institutional/08_RISK_REGISTER.md
  docs/institutional/09_INCIDENT_RESPONSE.md
  docs/institutional/10_EXTERNAL_REVIEW_PACKAGE.md
  docs/institutional/README.md
  scripts/institutional-readiness.sh
Due: pnpm exec prettier --write
